.App {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	min-height: 100vh;
	padding: 2%;
}

.App-logo {
	height: 30vmin;
	pointer-events: none;
}

.App-header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.panel {
	background-color: #DDFFE5;
	border-radius: 10px;
}

.App-header > p {
	color: #FEBD59;
	font-family: Comfortaa;
	text-align: left;
	font-size: 35px;
}
.Sub-header {
	width: 90%;
}

.Sub-header > p {
	color: white;
	font-size: 15px;
}

.Sub-panels {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.Sub-panels > * {
	width: 40%;
	height: 90px;
	background-color: #DDFFE5;
}
